<div class="offset-md-4 col-md-4">
    <form class="text-center border border-light p-5" (ngSubmit)="login()" ngNativeValidate>

        <p class="h4 mb-4">Bienvenidos a Book a Book!</p>

        <input type="text" [(ngModel)]="username" name="username" class="form-control mb-4" placeholder="Usuario"
            required>

        <input type="password" [(ngModel)]="password" name="password" class="form-control mb-4" placeholder="Contraseña"
            required>

        <div *ngIf="loginError">
            <p class="red-text bold">
                Usuario o contraseña inválidos.
            </p>
        </div>
        <button mdbBtn color="info" block="true" class="my-4" type="submit">Inciar sesión</button>

        <p>No eres usuario?
            <a href="">Registrate</a>
        </p>
    </form>
</div>