<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Préstamo</h4>
      </div>
      <div class="modal-body">

        <div class="row">

          <div class="col-md-5 text-center">
            <img src="{{book?.picture}}" alt="">
          </div>
          <div class="col-md-7 text-center">
            <h2>{{book?.title}}</h2>
            <h4>{{book?.author}}</h4>
            <feedback-rating *ngIf="seeFeedback" (ratingClick)="ratingChange($event)"></feedback-rating>
          </div>

        </div>

        <div class="col-md-12 text-center" *ngIf="book?.owner != userId">
          <user-rating [user]="book?.ownerObj"></user-rating>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" *ngIf="book?.owner == userId && status == statuses.AVAILABLE" mdbBtn color="danger" class="waves-light"
          aria-label="Eliminar" (click)="delete()" mdbWavesEffect>Eliminar</button>
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()"
          mdbWavesEffect>Cancelar</button>
        <button type="button" *ngIf="status === statuses.AVAILABLE && book?.owner != userId" mdbBtn color="primary"
          class="relative waves-light" (click)="request()" mdbWavesEffect>
          Pedir
        </button>
        <button type="button" *ngIf="status === statuses.REQUESTED && book?.owner == userId" mdbBtn color="primary"
          class="relative waves-light" (click)="requestAccept()" mdbWavesEffect>
          Prestar
        </button>
        <button type="button" *ngIf="status === statuses.LENT && book?.owner != userId" mdbBtn color="primary" class="relative waves-light"
          (click)="return()" mdbWavesEffect>
          Devolver
        </button>
        <button type="button" *ngIf="status === statuses.RETURNED && book?.owner == userId" mdbBtn color="primary"
          class="relative waves-light" (click)="returnAccept()" mdbWavesEffect>
          Devuelto
        </button>
      </div>
    </div>
  </div>
</div>