
.rating {
    display: -webkit-inline-box;
    margin: 1.0em auto;
    text-align: center;
}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0.1em;
    //overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
}


.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
fieldset{
    margin: 0 auto;
    text-align: left;
  }
  
  form
  {
      text-align: center;
  }
.modal-body{
    text-align: center;
}