<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

    <mdb-navbar-brand>
        <a class="navbar-brand" href="#">
            <strong>Book A Book</strong>
        </a>
    </mdb-navbar-brand>

    <links>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" [routerLink]="['/home']" [routerLinkActive]="['active']"
                    mdbRippleRadius>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" [routerLink]="['/mis-libros']" [routerLinkActive]="['active']"
                    mdbRippleRadius>Mis libros</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            <li class="nav-item" *ngIf="isGuest">
                <a class="nav-link waves-effect waver-light" [routerLink]="['/login']">
                    Login
                </a>
            </li>
            <li class="nav-item" *ngIf="!isGuest">
                <a class="nav-link waves-effect waver-light">
                    Hola {{username}}!
                </a>
            </li>
            <li class="nav-item" *ngIf="!isGuest">
                <a class="nav-link waves-effect waver-light" (click)="logout()">
                    Logout
                </a>
            </li>
        </ul>

    </links>

</mdb-navbar>

<router-outlet>
    <div style="height: 100px"></div>
</router-outlet>